/**** VARIABLES (Color Palette) ****/
:root {
  --primary-color: #3CC47C;
  --secondary-color: #1E392A;
  --tertiary-color: #E9C893;
  --quaternary-color: #828081;
}


/***** HTML *****/
html {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background: black;
}


/***** CONTAINER *****/
div#container {
  width: 95%;
  margin: 0 auto;
}


/***** HEADER *****/
header {
  /* grid-row: 1; */
  position: relative;
  height: 300px;
  background: black url("../img/the-matrix-bg.jpg");
  clip-path: polygon(
    0 0,                    /* origin */
    100% 0,                 /* from origin to x,y */
    100% 100%,              /* width height */
    0 calc(100% - 5vw)      /*  */
  );
}

header h1 {
  font-size: 3em;
  color: white;
  text-align: center;
}


/***** NAV *****/
nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  height: 3em;
  padding: 0;
  margin: 0;
  border: 0;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav {
  list-style: none;
}

nav a, a:link, a:hover, a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}


/***** MAIN *****/
main {
  /* grid-row: 2; */
  width: 100%;
  height: auto;
  /* background-image: linear-gradient(135deg, #777, #111); */

}

main section {
  background: black;
  color: white;
}


/***** FOOTER *****/
footer {
  /* grid-row: 3; */
}