/**** VARIABLES (Color Palette) ****/
:root {
  --primary-color: #3CC47C;
  --secondary-color: #1E392A;
  --tertiary-color: #E9C893;
  --quaternary-color: #828081;
}



/***** HTML *****/
* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  background: black;
}

h2, h3, h4, h5, p {
  font-family: 'Lora', serif;
}

h1 {
  font: 3.272em 'IM Fell English SC', serif;
}

h2 {
  text-align: center;
  font-size: 2.618em;
  color: var(--tertiary-color);
  letter-spacing: 0.0625em;
}

h3 {
  font-size: 2.023em;
}

h4 {
  font-size: 1.618em;
  text-align: center;
  color: var(--secondary-color);
}

h5 {
  font-size: 1.25em;
  margin: 0;
}

p {
  font-size: 1.0em;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: black;
}


/***** CONTAINER *****/
div#container {
  max-width: 100%;
  margin: 0 auto;
  background: black;
}


/***** HEADER *****/
header {
  width: 100%;
  margin: 0 auto;
  background: black;
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

header h1 {
  padding: 0 2em 0 0.8em;
}


/***** NAV *****/
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.8em;
}

nav a,
nav a:link,
nav a:visited {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.25em;
}

nav p {
  font-weight: bold;
}


/***** MAIN *****/
main {
  width: 100%;
  margin: 0 auto;
  background: black;
}

main section {
  width: 100%;
  margin: 0 auto;
  padding: 1em 0;
}


/* Main -> Section: Trailer */
section#trailer {
  width: 100%;
  margin: 0 auto;
  background: url("../img/trinity.png") no-repeat;
  background-size: cover;
  background-position: center;
}

section#trailer div#trailer-wrapper {
  display: grid;
  grid-template-rows: 2fr 2fr;
  justify-items: center;
  align-items: end;
}

section#trailer h2 {
  margin: 0;
  grid-row: 1;
}

main section#trailer video {
  max-width: 640px;
  min-width: 385px;
  height: 360px;
  margin: 0.5em auto;
  grid-row: 2;
}

section#trailer .mejs__container {
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
}


/* Main -> Section: Summary */
section#summary {
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/the-matrix-bg.jpg");
  background-color: #1E392A;
  background-blend-mode: multiply;
}

section#summary div.para {
  margin: 0 15%;
}

section#summary p {
  color: white;
  padding: 0.8em 0.8em;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.8);
}

div#screenshots {
  margin: 0 5%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-column-gap: 20px;
  align-items: center;
}

div#screenshots img {
  width: 100%;
  height: auto;
}


/* Main -> Section: Actors */
main section#actors {
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(black, var(--secondary-color), black);
  color: white;
}

div#polygon-grid {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
  grid-template-columns: repeat(6, 1fr);

  grid-row-gap: 20px;
  justify-items: center;
}

div#polygon-grid img {
  width: 360px;
  height: 466px;
}

.svg-polygon-mask {
  -webkit-mask-box-image: url("../img/Polygon.svg");
  mask: url("../img/Polygon.svg");
}

div#polygon-grid .row1 {
  grid-row: 1 / span 3;
}

div#polygon-grid .row2 {
  grid-row: 3 / span 3;
}

div#polygon-grid .row3{
  grid-row: 5 / span 3;
}

div#polygon-grid .col1 {
  grid-column: 1 / span 2;
}

div#polygon-grid .col2 {
  grid-column: 2 / span 2;
}

div#polygon-grid .col3 {
  grid-column: 3 / span 2;
}

div#polygon-grid .col4 {
  grid-column: 4 / span 2;
}

div#polygon-grid .col5 {
  grid-column: 5 / span 2;
}



/***** FOOTER *****/
footer {
  width: 85%;
  margin: 0 auto;
  padding: 1em 0;
  background: black;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  justify-content: center;
  align-items: center;
}

footer h4 {
  grid-row: 1;
  margin: 0;
  text-align: center;
  color: var(--tertiary-color);
}

footer div#about,
footer div#tickets,
footer div#social-media {
  grid-row: 2;
}

footer div#about p {
  margin: 0;
  color: var(--quaternary-color);
  text-align: center;
}

footer div#tickets {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div#social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .icons {
  width: 50px;
  height: 50px;
}


/* Post-Footer */
div#copyright {
  text-align: center;
  color: var(--quaternary-color);
  font: 0.8em 'Lora', serif;
  margin: 0.8em 0;
}

div#copyright p {
  padding: 1em 0;
}
